#PostgreSQL
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=DB
POSTGRES_PORT=PORT

#DATABASE_URL=postgresql://USER:PASSWORD@localhost:PORT/DB

#JWT
JWT_SECRET=//put 256SHA generated here, key must be 32 bytes
#keySHA256 = contoh "iniakupassword" generate ke SHA256

#App Path
PORT=3000
CORS_ORIGIN=http://localhost:3000

IMAGE_PATH=/images

